body{
  font-family: sans-serif;
}

.HeaderStyle{
  background-color: #d4d4d4;
  padding: 15px 45px;
  border-bottom: 1px solid #444 ;
  position: absolute;
  top: 0;
  width: 100%;
}

.afterHeader{
  margin-top: 100px;
}

.HeaderStyle .title{
  font-size: 30px;
  font-weight: 500;
}

.CenterBox{
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.LoginBox{
  border-radius: 7px;
  border: 1px solid #a9a9a9;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 30px;
  width: 40%;
}

.LoginBox:hover{
  color: #000;
}

.InputBox{
  border-radius: 7px;
  border: 1px solid #a9a9a9;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 30px;
}


.SpotifyIcon{
  float: right;
  color: #1DB954;
  font-size: 40px;
}

.SearchIcon{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: transparent;
  border: 0;
  font-size: 30px;
  color: #a9a9a9;
}
.SearchIconAfter{
  position: absolute;
  top: 0;
  right: 38%;
  height: 100%;
  background-color: transparent;
  border: 0;
  font-size: 30px;
  color: #a9a9a9;
}

.card{
  width: 230px;
  margin: auto;
  margin-bottom: 20px!important;
  border: 1px solid #444;
  cursor: pointer;
  max-height: 420px;
}

.card .card-img-top{
  border-bottom: 1px solid #e4e4e4;
}
.card img{
  width: 225px;
  height: 200px;
  margin: auto;
}

.rates li{
  display: inline;
  color: #ffe234;
}

.PreviewBtn{
  font-size: 13px;
  color: #444;
  text-decoration: none;
}

.PreviewBtn:hover{
  color: #444;
}